<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta property="og:title" content="Resilient Advocacy" />
  <meta
    property="og:description"
    content="In 2020, the world shifted drastically as we experienced a global pandemic that revealed and exacerbated social inequities. Legal services advocates demanded support in their work as the trauma we were exposed to overwhelmed us in unexpected ways. This highlighted and revealed numerous tensions within legal services workspaces, resulting in mass unionization of legal services organizations around the country. Organizational leaders and advocates continue to navigate the complexities of diversity, equity, and inclusion initiatives while clamoring for trauma-informed and racially just workspaces.

    As a direct response to these tensions, the framework for Resilient Advocacy emerged - a systems theory approach to legal advocacy that is rooted in a trauma-informed, antiracist, and intersectional understanding of individuals, communities, society, and the larger systems we participate in collectively."
  />
  <meta
    property="og:image"
    content="https://resilient.relevant-researchtest.com/assets/image/banner.png"
  />
  <meta
    property="og:url"
    content="https://resilient.relevant-researchtest.com/"
  />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Resilient Advocacy" />
  <meta property="og:locale" content="en_US" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Resilient Advocacy" />
  <meta
    name="twitter:description"
    content="In 2020, the world shifted drastically as we experienced a global pandemic that revealed and exacerbated social inequities. Legal services advocates demanded support in their work as the trauma we were exposed to overwhelmed us in unexpected ways. This highlighted and revealed numerous tensions within legal services workspaces, resulting in mass unionization of legal services organizations around the country. Organizational leaders and advocates continue to navigate the complexities of diversity, equity, and inclusion initiatives while clamoring for trauma-informed and racially just workspaces.

  As a direct response to these tensions, the framework for Resilient Advocacy emerged - a systems theory approach to legal advocacy that is rooted in a trauma-informed, antiracist, and intersectional understanding of individuals, communities, society, and the larger systems we participate in collectively."
  />
  <meta
    name="twitter:image"
    content="https://resilient.relevant-researchtest.com/assets/image/banner.png"
  />
  <meta name="twitter:site" content="@yourTwitterHandle" />
  <meta name="twitter:creator" content="@yourTwitterHandle" />

  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css " />
</head>
