/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b5afaf29;
    color: #181717;
    text-align: center;
    margin-top: auto;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

  }
  
  
  