@import"navbar.css";
@import"footer.css";
@import"section.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
 

  
  